<table class="table">
    <tr>
        <td>
            @Html.LabelFor(model => model.TakenCredit)
        </td>
        <td>
            @Html.TextBoxFor(model => model.TakenCredit)
        </td>
    </tr>
    <tr>
        <td>
            @Html.TextBoxFor(model => model.RemainingCredit)
        </td>
        <td>
            @Html.LabelFor(model => model.RemainingCredit)
        </td>
    </tr>
</table>
