
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <a href="http://localhost:1317/Stationary/SaveStationary">Save HouseHold Stationary Info</a> 
        <p></p>
        <a href="http://localhost:1317/Stationary/Show">View HouseHold Stationary Info</a> 
    </div>
</body>
</html>
